#lineChart {
	position:absolute;
	top:10px;
	left:10px;
	width:800px;
	height: 800px;
}

#probChart {
	position:absolute;
	top:850px;
	left:10px;
	height: 300px;
}

#FSChart {
	position:absolute;
	top:1300px;
	left:10px;
	height: 250px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
