
#lineChart {    
	position:absolute;
	top:10px;
	left:10px;
	width:400px;
	height: 400px; 
}

#probChart {    
	position:absolute;
	top:10px;
	left:410px;
	height: 150px;
}

#FSChart {
	position:absolute;
	top:160px;
	left:410px;
	height: 250px;
}


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}