/* reset */
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* container */
.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    font-size: 0; /* for removing word space between div's */
    margin: 2rem;
}

/* row */
.row::before, .row::after {
    clear: both;
}

/* columns */
[class*='col-'] {
    float: left;
    min-height: 1px;
    font-size: 16px; /* font-size reset */
    display: inline-block;
    box-sizing: border-box;
    word-break: normal;
    /*word-wrap: break-word;*/
    /* gutter */
    padding-left: 0.5%;
    padding-right: 0.5%;
}

/* column width */
.col-1  { width: 8.33%;  }
.col-2  { width: 16.66%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.6%;  }
.col-12 { width: 100%;   }

/* push: push the column to the left */
.push-1  { margin-left: 8.33%;  }
.push-2  { margin-left: 16.66%; }
.push-3  { margin-left: 25%;    }
.push-4  { margin-left: 33.33%; }
.push-5  { margin-left: 41.66%; }
.push-6  { margin-left: 50%;    }
.push-7  { margin-left: 58.33%; }
.push-8  { margin-left: 66.66%; }
.push-9  { margin-left: 75%;    }
.push-10 { margin-left: 83.33%; }
.push-11 { margin-left: 91.66;  }

/* pull: pull the column from the right */
.pull-1  { margin-right: 8.33%;  }
.pull-2  { margin-right: 16.66%; }
.pull-3  { margin-right: 25%;    }
.pull-4  { margin-right: 33.33%; }
.pull-5  { margin-right: 41.66%; }
.pull-6  { margin-right: 50%;    }
.pull-7  { margin-right: 58.33%; }
.pull-8  { margin-right: 66.66%; }
.pull-9  { margin-right: 75%;    }
.pull-10 { margin-right: 83.33%; }
.pull-11 { margin-right: 91.66;  }

/* for tablet */
@media (min-width: 480px) and (max-width: 800px) {
    .col-1  { width: 25%; }
    .col-2  { width: 50%; }
    .col-3  { width: 75%; }
    .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { width: 100%; }

    .push-1  { margin-left: 25%; }
    .push-2  { margin-left: 50%; }
    .push-3  { margin-left: 75%; }
    .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 { margin-left: 0%; }

    .pull-1  { margin-right: 25%; }
    .pull-2  { margin-right: 50%; }
    .pull-3  { margin-right: 75%; }
    .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 { margin-right: 0%; }
}

/* for mobile */
@media all and (max-width: 480px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { width: 100%; }

    [class*='push-'] {
        margin-left: 0%;
    }

    [class*='pull-'] {
        margin-right: 0%;
    }
}
