html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #222222;
    color: #dddddd;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #aaaaff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffaa;
}

#header {
    text-align: center;
}

#article {
    margin: 1em;
}

#header h1 {
    font-size: 2rem;
}

.menu {
    display: inline;
}

.menu .item {
    display: inline;
}
