#lineChart {
  background: rgba(255,255,255,0.7);
	position:relative;
  display: inline-block;
	top:10px;
  margin-right:500px;
  width:960px;
	height: 300px;
  border-radius: 10px 10px 10px 10px;
}

#probChart {
  background: rgba(255,255,255,0.7);
	position:relative;
  display: inline-block;
  top: 10px;
  width:470px;
	height: 300px;
  border-radius: 10px 10px 10px 10px;
}

#FSChart {
  background: rgba(255,255,255,0.7);
	position:relative;
  display: inline-block;
  left:20px;
  margin-top: 10px;
  top:10px;
  width:470px;
	height: 300px;
  border-radius: 10px 10px 10px 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(255, 97, 56);
  stroke-width: 1.5px;
}

.bar {
  fill: rgb(121,189,143);
  opacity: 0.7;
}

.bar:hover {
  fill: rgb(121,189,143);
  opacity: 1;
}
