
body {
font-family: 'Raleway', Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.6em; color: #fff;
background: #003973;
/*
background: rgba(235,233,249,1);
background: -moz-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(103,168,191,1) 30%, rgba(216,208,239,1) 48%, rgba(200,235,235,1) 51%, rgba(103,168,191,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(30%, rgba(103,168,191,1)), color-stop(48%, rgba(216,208,239,1)), color-stop(51%, rgba(200,235,235,1)), color-stop(100%, rgba(103,168,191,1)));
background: -webkit-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(103,168,191,1) 30%, rgba(216,208,239,1) 48%, rgba(200,235,235,1) 51%, rgba(103,168,191,1) 100%);
background: -o-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(103,168,191,1) 30%, rgba(216,208,239,1) 48%, rgba(200,235,235,1) 51%, rgba(103,168,191,1) 100%);
background: -ms-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(103,168,191,1) 30%, rgba(216,208,239,1) 48%, rgba(200,235,235,1) 51%, rgba(103,168,191,1) 100%);
background: linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(103,168,191,1) 30%, rgba(216,208,239,1) 48%, rgba(200,235,235,1) 51%, rgba(103,168,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#67a8bf', GradientType=1 );
*/




background: -webkit-linear-gradient(90deg, #556270 10%, #FF6B6B 90%);
background:    -moz-linear-gradient(90deg, #556270 10%, #FF6B6B 90%);
background:     -ms-linear-gradient(90deg, #556270 10%, #FF6B6B 90%);
background:      -o-linear-gradient(90deg, #556270 10%, #FF6B6B 90%);
background:         linear-gradient(90deg, #556270 10%, #FF6B6B 90%);
width: 70%; padding: 60px 4%; float: right; position: relative;
}
input, button {
background:transparent;
background: rgba(0,0,0,0.3);
border: 2px solid #fff; color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor: pointer;
}
a{ display: block; float: left; margin: 10px 10px 10px 0; padding: 12px 18px; background: #333; background: rgba(0,0,0,0.3); border: 2px solid #fff; color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor: pointer;
}
a:hover { background: #333; background: rgba(0,0,0,0.6);}
a:focus { color: #3498db; }
a:active { color: #e0e0e0; }
a:visited {  }
table { border-collapse: separate; border-spacing: 0; }
ol, ul { list-style: none; }
/* Headings */
h1, h2, h3, h4, h5, h6 { margin: 1em 0 0 0; padding: 1em 0 0 0; font-weight: inherit; line-height: 1.4em; clear: both; }
h1 { font-size: 2.457em; }
h2 { font-size: 2.169em; }
h3 { font-size: 1.877em; }
h4 { font-size: 1.433em; }
h5 { font-size: 1.322em; }
h6 { font-size: 1.211em; }
hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }






/*
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*/
